html
	head
		title Staff List

		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-78475899-1', 'auto');
			ga('send', 'pageview');

	body
		h1 Staff List:

		for players, rank in groups
			h2=toTitleCase(rank)
			for data, player in players
				li=player + " - " + JSON.stringify(data)
			else
				li="Something went wrong..."
		else
			h2 Something went wrong...

		h1 Changes:

		for players, date in changes
			h2=date
			for player in players
				li=player