html
  head
    title Staff List

    script(type='text/javascript', src='js/jquery.js')
    script(type='text/javascript', src='js/materialize.js')
    script(type='text/javascript', src='js/index.js')

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga')

      ga('create', 'UA-78475899-1', 'auto')
      ga('send', 'pageview')

    link(rel='stylesheet', type='text/css', href='css/materialize.css')
    link(rel='stylesheet', type='text/css', href='css/index.css')

  body.grey.lighten-5

    .row
      .col.s12
        ul.tabs.tab-demo
          for players, rank in groups
            li.tab.col.s3 
              b
                a(href='#' + rank.replace(' ', '-').toLowerCase())= toTitleCase(rank.replace('Senior', 'S.').replace('Trial', 'T.') + ' (' + Object.keys(players).length + ')')

      for players, rank in groups
        .col.s12(id=rank.replace(' ', '-').toLowerCase())
          .row
            for data, player in players
              .col.s12.m4
                .card.grey.lighten-4.z-depth-1
                  .card-content
                    span.card-title=data['user']
                    ul
                      span.wrap
                        li!= '<span style="display:inline-block;width:90px;"><b>Steam64</b>: </span>' + data['steam64']
                        li!= '<span style="display:inline-block;width:90px;"><b>Steam3</b>: </span>' + data['steam3']
                        li!= '<span style="display:inline-block;width:90px;"><b>SteamID</b>: </span>' + data['steamid']

                    img(src=data['profile'], alt='', class='circle responsive-img', style='width: 100px; position: absolute; top: 20px; right: 20px;')

                    .card-action
                      b
                        a(href='http://steamcommunity.com/profiles/' + data['steam64']) Steam Community
                        a(href='https://steamid.eu/profile/' + data['steam64']) Steam ID
                        a(href='https://steamdb.info/calculator/' + data['steam64']) Steam DB

    h3 Changes

    for players, date in updates
      h4(style='color:#9e9e9e')=date
      .row
        for player in players
          .col.s12.m4
            .card.grey.lighten-4.z-depth-1
              .card-content.black-text.valign-wrapper
                .col.s3
                  if player[4]
                    img(src=player[4], alt='', class='circle responsive-img', style='float: right; display:block; right:-40px')
                  else
                    img(src='http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg', alt='', class='circle responsive-img', style='float: right; display:block; right:-40px')
                .col.s12
                  if player[4]
                    span.card-title!=formatPlayer(player[0]) + ' was ' + player[1] + ' from ' + colourRank(player[2]) + ' to ' + colourRank(player[3])+ '.'
                  else
                    span.card-title!=formatPlayer(player[0]) + ' was ' + player[1] + ' from ' + colourRank(player[2]) + ' to ' + colourRank(player[3]) + '.'